body{
    padding: 0;
    margin: 0;
    background-color: #2F303A; 
    font-family: Poppins, sans-serif;
    color: white; 
    width: 100%;
}
header{
     margin-top: 20px; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 80px;
    padding: 50px;
    
}
.logo img{
    margin: 0 30px;
    width: 200px;
    /* padding: 80px; */
}
#landing-page-girl{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 300px;
    width: 100%;
}
#landing-page-girl img{
    width: 400px;

}
.btn{
  background-color: #1762a7;
  color: white;
  border: none;
  border-radius: 5px;
  width: 200px; ;
  height: 50px;
    

}
#Feel{
    font-size: 30px;
}
.cercle{
    
}